/* aSearch v0.0.6 */
.asearch-wrapper {
    display: inline-block;
    position: relative;
    width: inherit;
}
.asearch {
    position:absolute;
    display: block;
    margin: 0;
    margin-top: -2px; 
    padding: 0;
    max-height: 24em;
    background: white;
    background-color: rgba(255,255,255,0.99);
    border: 1px solid lightgrey;
    border-top: none;
    border-radius: 0  0 0.25em 0.25em;
    overflow-y: scroll;
    z-index: 1000;
    text-align: right;
    width: 100%;
    -webkit-overflow-scrolling: touch; 
}
.asearch li {
    clear: left;
    list-style-type: none;
    min-height: 2em;
    margin-bottom: 0.25em;
}
.asearch li a,
.asearch li div {
    display: block;
    padding: 0.25em 0.5em;
}
.asearch li:hover {
    background: #fbfbfb;
    outline: 1px solid #efefef;
}
.asearch li img {
    float:left;
    vertical-align:middle;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.asearch li a {
    text-decoration: none;
    color: black;
}
.asearch li h4 {
    margin: 0;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
}
.asearch li p {
    font-size: 0.8em;
    color: grey;
    margin: 0;
}
.asearch li b {
    font-size: 0.8em;
    color: grey;
    margin-left: 1em;
    margin-bottom: 1em;
}
.asearch li b.discount {
    color:red;
}
.asearch li i {
    font-size: 0.8em;
    color: grey;
    text-decoration: line-through;
}