#asearch-wrapper {
    display: inline-block;
    position: relative;
}
.asearch {
    position:absolute;
    display: none;
    margin: 0;
    padding: 0;
    background: white;
    background-color: rgba(255,255,255,0.9);
    border: 1px outset;
    border-radius: 0  0 0.25em 0.25em;
    overflow-y: scroll;
}
.asearch li {
    clear: left;
    list-style-type: none;
    min-height: 2em;
    margin-bottom: 0.25em;
}
.asearch li div {
    padding: 0.25em 1em;
}
.asearch li:hover {
    background: #fafafa;
    background-color: rgba(0,0,0,0.01);
}
.asearch li img {
    float:left;
    vertical-align:middle;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.asearch li a {
    text-decoration: none;
    color: black;
}
.asearch li h4 {
    margin: 0;
    font-size: 0.9em;
}
.asearch li p {
    font-size: 0.8em;
    color: grey;
    margin: 0;
}
.asearch li b {
    color: grey;
    margin-bottom: 1em;
}
.asearch li b.discount {
    color:red;
}
.asearch li b i {
    color: grey;
    margin-left: 1em;
    text-decoration: line-through;
}